@import "fonts/stylesheet.css";

body{
background: linear-gradient(to bottom, #f6f1b2, #4599b2);
}

h1{
font-family:Ravie;
color: #e90c0c;
font-size: 36px;
}

h2{
font-family:Trebuchet MS;
font-size:24px;
color:#333;
padding:left;
}
